<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaClasse.ma</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/toastr.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.blockUI.js"></script>
    <script src="/js/toastr.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 style="width: 100%;margin-top: 20px;"><%= user.fullName %>, Thank you so much for joining us</h3>
            </div>
            <div class="col-12">
                <h4>You have been registered with <a href="https://compte.laclasse.ma/" target="_blank">LaClasse.ma</a> as Student</h4>
            </div>
            <div class="col-12">
                <h6>Please Login with your email: <strong> <%= user.email %> </strong> and check the password in invitation email</h6>
                <a href="https://compte.laclasse.ma/" class="btn btn-primary">LOGIN</a>
            </div>
        </div>
    </div>

    

</body>

</html>